h1 {
  font-family: Garamond;
  font-size: 24px;
}

h2 {
  font-family: Garamond;
  font-size: 20px;
  font-style: italic;
}

h3 {
  font-family: Garamond;
  font-size: 20px;
}
p {
  font-family: calibri;
  font-size: 14px;
}

/* CSS declarations go here */
.push-right {
  text-align: right;
}

.central {
  text-align: center;
}

.question{
  border-width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 40px;
}

input[type="radio"]{
  margin: 0 10px 0 10px;
}

.card {
  background: white;

  /* border-radius: 25px; */
  border-width: 1px;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding: .5em;
  padding-bottom: 1em;
}


.bottom-btns {
  background: white;

  /* border-radius: 25px; */
  border-width: 1px;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding: .5em;
  padding-bottom: 1em;
  }

.section {
  font-family: calibri;
}

.section h1 {
  font-family: Garamond;
  font-size: 24px;
}
.section h2 {
  font-family: Garamond;
  font-size: 20px;
  font-style: italic;
}
.section h3 {
  font-family: Garamond;
  font-size: 20px;
}
